In [41]:
import numpy as np
import pandas as pd

In [42]:
df = pd.read_csv('country.csv')

In [43]:
df.head()

,country_code,long_name,income_group,region,lending_category,currency_unit,country
0,AFG,Islamic State of Afghanistan,Low income,South Asia,IDA,Afghan afghani,Afghanistan
1,ALB,Republic of Albania,Upper middle income,Europe & Central Asia,IBRD,Albanian lek,Albania
2,DZA,People's Democratic Republic of Algeria,Lower middle income,Middle East & North Africa,IBRD,Algerian dinar,Algeria
3,ASM,American Samoa,Upper middle income,East Asia & Pacific,NaN,U.S. dollar,American Samoa
4,AND,Principality of Andorra,High income,Europe & Central Asia,NaN,Euro,Andorra

In [44]:
def south_asia():
    data = df.query('region == "South Asia"')
    # data = df[['country_code', 'income_group', 'lending_category', 'other_groups', 'currency_unit', 'country', ]]
    return data
south_asia()

,country_code,long_name,income_group,region,lending_category,currency_unit,country
0,AFG,Islamic State of Afghanistan,Low income,South Asia,IDA,Afghan afghani,Afghanistan
15,BGD,People's Republic of Bangladesh,Lower middle income,South Asia,IDA,Bangladeshi taka,Bangladesh
22,BTN,Kingdom of Bhutan,Lower middle income,South Asia,IDA,Bhutanese ngultrum,Bhutan
89,IND,Republic of India,Lower middle income,South Asia,IBRD,Indian rupee,India
121,MDV,Republic of Maldives,Upper middle income,South Asia,IDA,Maldivian rufiyaa,Maldives
138,NPL,Nepal,Lower middle income,South Asia,IDA,Nepalese rupee,Nepal
149,PAK,Islamic Republic of Pakistan,Lower middle income,South Asia,Blend,Pakistani rupee,Pakistan
180,LKA,Democratic Socialist Republic of Sri Lanka,Lower middle income,South Asia,IBRD,Sri Lankan rupee,Sri Lanka

In [45]:
def eu_and_central_asia():
    data = df.query('region == "Europe & Central Asia"')
    # data = df[['country_code', 'income_group', 'lending_category', 'other_groups', 'currency_unit', 'country', ]]
    return data
eu_and_central_asia().head()

,country_code,long_name,income_group,region,lending_category,currency_unit,country
1,ALB,Republic of Albania,Upper middle income,Europe & Central Asia,IBRD,Albanian lek,Albania
4,AND,Principality of Andorra,High income,Europe & Central Asia,NaN,Euro,Andorra
8,ARM,Republic of Armenia,Upper middle income,Europe & Central Asia,IBRD,Armenian dram,Armenia
11,AUT,Republic of Austria,High income,Europe & Central Asia,NaN,Euro,Austria
12,AZE,Republic of Azerbaijan,Upper middle income,Europe & Central Asia,IBRD,New Azeri manat,Azerbaijan

In [46]:
def middle_east_and_north_africa():
    data = df.query('region == "Middle East & North Africa"')
    return data
middle_east_and_north_africa().tail()

,country_code,long_name,income_group,region,lending_category,currency_unit,country
189,SYR,Syrian Arab Republic,Low income,Middle East & North Africa,IDA,Syrian pound,Syrian Arab Republic
197,TUN,Republic of Tunisia,Lower middle income,Middle East & North Africa,IBRD,Tunisian dinar,Tunisia
204,ARE,United Arab Emirates,High income,Middle East & North Africa,NaN,U.A.E. dirham,United Arab Emirates
213,PSE,West Bank and Gaza,Lower middle income,Middle East & North Africa,NaN,Israeli new shekel,West Bank and Gaza
214,YEM,Republic of Yemen,Low income,Middle East & North Africa,IDA,Yemeni rial,Yemen

In [47]:
def east_asia_and_pacific():
    data = df.query('region == "East Asia & Pacific"')
    return data
east_asia_and_pacific().head()

,country_code,long_name,income_group,region,lending_category,currency_unit,country
3,ASM,American Samoa,Upper middle income,East Asia & Pacific,NaN,U.S. dollar,American Samoa
10,AUS,Commonwealth of Australia,High income,East Asia & Pacific,NaN,Australian dollar,Australia
28,BRN,Brunei Darussalam,High income,East Asia & Pacific,NaN,Brunei dollar,Brunei
33,KHM,Kingdom of Cambodia,Lower middle income,East Asia & Pacific,IDA,Cambodian riel,Cambodia
41,CHN,People's Republic of China,Upper middle income,East Asia & Pacific,IBRD,Chinese yuan,China

In [48]:
def sub_saharan_africa():
    data = df.query('region == "Sub-Saharan Africa"')
    return data
sub_saharan_africa().head()

,country_code,long_name,income_group,region,lending_category,currency_unit,country
5,AGO,People's Republic of Angola,Lower middle income,Sub-Saharan Africa,IBRD,Angolan kwanza,Angola
20,BEN,Republic of Benin,Lower middle income,Sub-Saharan Africa,IDA,West African CFA franc,Benin
25,BWA,Republic of Botswana,Upper middle income,Sub-Saharan Africa,IBRD,Botswana pula,Botswana
30,BFA,Burkina Faso,Low income,Sub-Saharan Africa,IDA,West African CFA franc,Burkina Faso
31,BDI,Republic of Burundi,Low income,Sub-Saharan Africa,IDA,Burundi franc,Burundi

In [49]:
def lac():
    data = df.query('region == "Latin America & Caribbean"')
    return data
lac().head()

,country_code,long_name,income_group,region,lending_category,currency_unit,country
6,ATG,Antigua and Barbuda,High income,Latin America & Caribbean,IBRD,East Caribbean dollar,Antigua and Barbuda
7,ARG,Argentine Republic,Upper middle income,Latin America & Caribbean,IBRD,Argentine peso,Argentina
9,ABW,Aruba,High income,Latin America & Caribbean,NaN,Aruban florin,Aruba
13,BHS,Commonwealth of The Bahamas,High income,Latin America & Caribbean,NaN,Bahamian dollar,The Bahamas
16,BRB,Barbados,High income,Latin America & Caribbean,NaN,Barbados dollar,Barbados

In [50]:
def north_america():
    data = df.query('region == "North America"')
    return data
north_america().head()

,country_code,long_name,income_group,region,lending_category,currency_unit,country
21,BMU,The Bermudas,High income,North America,NaN,Bermuda dollar,Bermuda
35,CAN,Canada,High income,North America,NaN,Canadian dollar,Canada
206,USA,United States of America,High income,North America,NaN,U.S. dollar,United States

### INCOME LEVELS

In [51]:
def low_income():
    data = df.query('income_group == "Low income"')
    return data
low_income().tail()

,country_code,long_name,income_group,region,lending_category,currency_unit,country
185,SDN,Republic of the Sudan,Low income,Sub-Saharan Africa,IDA,Sudanese pound,Sudan
189,SYR,Syrian Arab Republic,Low income,Middle East & North Africa,IDA,Syrian pound,Syrian Arab Republic
194,TGO,Republic of Togo,Low income,Sub-Saharan Africa,IDA,West African CFA franc,Togo
202,UGA,Republic of Uganda,Low income,Sub-Saharan Africa,IDA,Ugandan shilling,Uganda
214,YEM,Republic of Yemen,Low income,Middle East & North Africa,IDA,Yemeni rial,Yemen

In [52]:
def upper_middle_income():
    data = df.query('income_group == "Upper middle income"')
    return data
low_income().head()

,country_code,long_name,income_group,region,lending_category,currency_unit,country
0,AFG,Islamic State of Afghanistan,Low income,South Asia,IDA,Afghan afghani,Afghanistan
30,BFA,Burkina Faso,Low income,Sub-Saharan Africa,IDA,West African CFA franc,Burkina Faso
31,BDI,Republic of Burundi,Low income,Sub-Saharan Africa,IDA,Burundi franc,Burundi
37,CAF,Central African Republic,Low income,Sub-Saharan Africa,IDA,Central African CFA franc,Central African Republic
38,TCD,Republic of Chad,Low income,Sub-Saharan Africa,IDA,Central African CFA franc,Chad

In [53]:
def lower_middle_income():
    data = df.query('income_group == "Lower middle income"')
    return data
lower_middle_income()

,country_code,long_name,income_group,region,lending_category,currency_unit,country
2,DZA,People's Democratic Republic of Algeria,Lower middle income,Middle East & North Africa,IBRD,Algerian dinar,Algeria
5,AGO,People's Republic of Angola,Lower middle income,Sub-Saharan Africa,IBRD,Angolan kwanza,Angola
15,BGD,People's Republic of Bangladesh,Lower middle income,South Asia,IDA,Bangladeshi taka,Bangladesh
19,BLZ,Belize,Lower middle income,Latin America & Caribbean,IBRD,Belize dollar,Belize
20,BEN,Republic of Benin,Lower middle income,Sub-Saharan Africa,IDA,West African CFA franc,Benin
22,BTN,Kingdom of Bhutan,Lower middle income,South Asia,IDA,Bhutanese ngultrum,Bhutan
23,BOL,Plurinational State of Bolivia,Lower middle income,Latin America & Caribbean,IBRD,Bolivian Boliviano,Bolivia
32,CPV,Republic of Cabo Verde,Lower middle income,Sub-Saharan Africa,Blend,Cabo Verde escudo,Cabo Verde
33,KHM,Kingdom of Cambodia,Lower middle income,East Asia & Pacific,IDA,Cambodian riel,Cambodia
34,CMR,Republic of Cameroon,Lower middle income,Sub-Saharan Africa,Blend,Central African CFA franc,Cameroon
43,COM,Union of the Comoros,Lower middle income,Sub-Saharan Africa,IDA,Comorian franc,Comoros
45,COG,Republic of Congo,Lower middle income,Sub-Saharan Africa,Blend,Central African CFA franc,Congo
47,CIV,Republic of Côte d'Ivoire,Lower middle income,Sub-Saharan Africa,IDA,West African CFA franc,Côte d'Ivoire
54,DJI,Republic of Djibouti,Lower middle income,Middle East & North Africa,IDA,Djibouti franc,Djibouti
58,EGY,Arab Republic of Egypt,Lower middle income,Middle East & North Africa,IBRD,Egyptian pound,Egypt
59,SLV,Republic of El Salvador,Lower middle income,Latin America & Caribbean,IBRD,U.S. dollar,El Salvador
63,SWZ,Kingdom of Eswatini,Lower middle income,Sub-Saharan Africa,IBRD,Swazi lilangeni,Eswatini
74,GHA,Republic of Ghana,Lower middle income,Sub-Saharan Africa,IDA,New Ghanaian cedi,Ghana
84,HTI,Republic of Haiti,Lower middle income,Latin America & Caribbean,IDA,Haitian gourde,Haiti
85,HND,Republic of Honduras,Lower middle income,Latin America & Caribbean,IDA,Honduran lempira,Honduras
89,IND,Republic of India,Lower middle income,South Asia,IBRD,Indian rupee,India
90,IDN,Republic of Indonesia,Lower middle income,East Asia & Pacific,IBRD,Indonesian rupiah,Indonesia
91,IRN,Islamic Republic of Iran,Lower middle income,Middle East & North Africa,IBRD,Iranian rial,Iran
101,KEN,Republic of Kenya,Lower middle income,Sub-Saharan Africa,Blend,Kenyan shilling,Kenya
102,KIR,Republic of Kiribati,Lower middle income,East Asia & Pacific,IDA,Australian dollar,Kiribati
107,KGZ,Kyrgyz Republic,Lower middle income,Europe & Central Asia,IDA,Kyrgyz som,Kyrgyz Republic
108,LAO,Lao People's Democratic Republic,Lower middle income,East Asia & Pacific,IDA,Lao kip,Lao PDR
111,LSO,Kingdom of Lesotho,Lower middle income,Sub-Saharan Africa,IDA,Lesotho loti,Lesotho
125,MRT,Islamic Republic of Mauritania,Lower middle income,Sub-Saharan Africa,IDA,Mauritanian ouguiya,Mauritania
128,FSM,Federated States of Micronesia,Lower middle income,East Asia & Pacific,IDA,U.S. dollar,Micronesia
131,MNG,Mongolia,Lower middle income,East Asia & Pacific,IBRD,Mongolian tugrik,Mongolia
133,MAR,Kingdom of Morocco,Lower middle income,Middle East & North Africa,IBRD,Moroccan dirham,Morocco
135,MMR,Republic of the Union of Myanmar,Lower middle income,East Asia & Pacific,IDA,Myanmar kyat,Myanmar
138,NPL,Nepal,Lower middle income,South Asia,IDA,Nepalese rupee,Nepal
142,NIC,Republic of Nicaragua,Lower middle income,Latin America & Caribbean,IDA,Nicaraguan gold cordoba,Nicaragua
144,NGA,Federal Republic of Nigeria,Lower middle income,Sub-Saharan Africa,Blend,Nigerian naira,Nigeria
149,PAK,Islamic Republic of Pakistan,Lower middle income,South Asia,Blend,Pakistani rupee,Pakistan
152,PNG,The Independent State of Papua New Guinea,Lower middle income,East Asia & Pacific,Blend,Papua New Guinea kina,Papua New Guinea
155,PHL,Republic of the Philippines,Lower middle income,East Asia & Pacific,IBRD,Philippine peso,Philippines
163,WSM,Samoa,Lower middle income,East Asia & Pacific,IDA,Samoan tala,Samoa
165,STP,Democratic Republic of São Tomé and Principe,Lower middle income,Sub-Saharan Africa,IDA,São Tomé and Principe dobra,São Tomé and Principe
167,SEN,Republic of Senegal,Lower middle income,Sub-Saharan Africa,IDA,West African CFA franc,Senegal
175,SLB,Solomon Islands,Lower middle income,East Asia & Pacific,IDA,Solomon Islands dollar,Solomon Islands
180,LKA,Democratic Socialist Republic of Sri Lanka,Lower middle income,South Asia,IBRD,Sri Lankan rupee,Sri Lanka
190,TJK,Republic of Tajikistan,Lower middle income,Europe & Central Asia,IDA,Tajik somoni,Tajikistan
191,TZA,United Republic of Tanzania,Lower middle income,Sub-Saharan Africa,IDA,Tanzanian shilling,Tanzania
193,TLS,Democratic Republic of Timor-Leste,Lower middle income,East Asia & Pacific,Blend,U.S. dollar,Timor-Leste
197,TUN,Republic of Tunisia,Lower middle income,Middle East & North Africa,IBRD,Tunisian dinar,Tunisia
203,UKR,Ukraine,Lower middle income,Europe & Central Asia,IBRD,Ukrainian hryvnia,Ukraine
208,UZB,Republic of Uzbekistan,Lower middle income,Europe & Central Asia,Blend,Uzbek som,Uzbekistan
209,VUT,Republic of Vanuatu,Lower middle income,East Asia & Pacific,IDA,Vanuatu vatu,Vanuatu
211,VNM,Socialist Republic of Vietnam,Lower middle income,East Asia & Pacific,IBRD,Vietnamese dong,Vietnam
213,PSE,West Bank and Gaza,Lower middle income,Middle East & North Africa,NaN,Israeli new shekel,West Bank and Gaza
215,ZMB,Republic of Zambia,Lower middle income,Sub-Saharan Africa,IDA,New Zambian kwacha,Zambia
216,ZWE,Republic of Zimbabwe,Lower middle income,Sub-Saharan Africa,Blend,U.S. dollar,Zimbabwe

In [54]:
def high_income():
    data = df.query('income_group == "High income"')
    return data
high_income()

,country_code,long_name,income_group,region,lending_category,currency_unit,country
4,AND,Principality of Andorra,High income,Europe & Central Asia,NaN,Euro,Andorra
6,ATG,Antigua and Barbuda,High income,Latin America & Caribbean,IBRD,East Caribbean dollar,Antigua and Barbuda
9,ABW,Aruba,High income,Latin America & Caribbean,NaN,Aruban florin,Aruba
10,AUS,Commonwealth of Australia,High income,East Asia & Pacific,NaN,Australian dollar,Australia
11,AUT,Republic of Austria,High income,Europe & Central Asia,NaN,Euro,Austria
...,...,...,...,...,...,...,...
204,ARE,United Arab Emirates,High income,Middle East & North Africa,NaN,U.A.E. dirham,United Arab Emirates
205,GBR,United Kingdom of Great Britain and Northern I...,High income,Europe & Central Asia,NaN,Pound sterling,United Kingdom
206,USA,United States of America,High income,North America,NaN,U.S. dollar,United States
207,URY,Oriental Republic of Uruguay,High income,Latin America & Caribbean,IBRD,Uruguayan peso,Uruguay
212,VIR,Virgin Islands of the United States,High income,Latin America & Caribbean,NaN,U.S. dollar,Virgin Islands

In [55]:
def not_classified():
    data = df.query('income_group == "Not classified"')
    return data
not_classified()

Empty DataFrame
Columns: [country_code, long_name, income_group, region, lending_category, currency_unit, country]
Index: []

In [61]:
def not_classified():
    data = df.query('country == "South Africa"')
    return data
not_classified()

,country_code,long_name,income_group,region,lending_category,currency_unit,country
177,ZAF,Republic of South Africa,Upper middle income,Sub-Saharan Africa,IBRD,South African rand,South Africa

In [62]:
def zar():
    data = df.query('currency_unit == "South African rand"')
    return data
zar()

,country_code,long_name,income_group,region,lending_category,currency_unit,country
177,ZAF,Republic of South Africa,Upper middle income,Sub-Saharan Africa,IBRD,South African rand,South Africa

In [63]:
def zar():
    data = df.query('currency_unit == "U.S. dollar"')
    return data
zar()

,country_code,long_name,income_group,region,lending_category,currency_unit,country
3,ASM,American Samoa,Upper middle income,East Asia & Pacific,NaN,U.S. dollar,American Samoa
27,VGB,British Virgin Islands,High income,Latin America & Caribbean,NaN,U.S. dollar,British Virgin Islands
57,ECU,Republic of Ecuador,Upper middle income,Latin America & Caribbean,IBRD,U.S. dollar,Ecuador
59,SLV,Republic of El Salvador,Lower middle income,Latin America & Caribbean,IBRD,U.S. dollar,El Salvador
79,GUM,Guam,High income,East Asia & Pacific,NaN,U.S. dollar,Guam
112,LBR,Republic of Liberia,Low income,Sub-Saharan Africa,IDA,U.S. dollar,Liberia
124,MHL,Republic of the Marshall Islands,Upper middle income,East Asia & Pacific,IDA,U.S. dollar,Marshall Islands
128,FSM,Federated States of Micronesia,Lower middle income,East Asia & Pacific,IDA,U.S. dollar,Micronesia
146,MNP,Commonwealth of the Northern Mariana Islands,High income,East Asia & Pacific,NaN,U.S. dollar,Northern Mariana Islands
150,PLW,Republic of Palau,High income,East Asia & Pacific,IBRD,U.S. dollar,Palau
158,PRI,Puerto Rico,High income,Latin America & Caribbean,NaN,U.S. dollar,Puerto Rico
193,TLS,Democratic Republic of Timor-Leste,Lower middle income,East Asia & Pacific,Blend,U.S. dollar,Timor-Leste
200,TCA,Turks and Caicos Islands,High income,Latin America & Caribbean,NaN,U.S. dollar,Turks and Caicos Islands
206,USA,United States of America,High income,North America,NaN,U.S. dollar,United States
212,VIR,Virgin Islands of the United States,High income,Latin America & Caribbean,NaN,U.S. dollar,Virgin Islands
216,ZWE,Republic of Zimbabwe,Lower middle income,Sub-Saharan Africa,Blend,U.S. dollar,Zimbabwe