In [16]:
import numpy as np
import pandas as pd

In [17]:
df  = pd.read_csv("land.csv")

In [18]:
df

,country,country_code,year,total_population,agric_irrigated_land,agric_land,agric_land_perc,arable_land_perc,arable_land_hectors_per_person,arable_land_hectors,...,Population living in areas where elevation is below 5 meters (% of total population) [EN.POP.EL5M.ZS],rural_land,Rural land area where elevation is below 5 meters (% of total land area) [AG.LND.EL5M.RU.ZS],Rural land area where elevation is below 5 meters (sq. km) [AG.LND.EL5M.RU.K2],Rural population living in areas where elevation is below 5 meters (% of total population) [EN.POP.EL5M.RU.ZS],surface_area_sqkm,urban_land_area_sqkm,Urban land area where elevation is below 5 meters (% of total land area) [AG.LND.EL5M.UR.ZS],Urban land area where elevation is below 5 meters (sq. km) [AG.LND.EL5M.UR.K2],Urban population living in areas where elevation is below 5 meters (% of total population) [EN.POP.EL5M.UR.ZS]
0,Afghanistan,AFG,1960,8.996967e+06,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1961,9.169406e+06,NaN,377000.00,57.745918,11.717673,0.834296,7650000.0,...,NaN,NaN,NaN,NaN,NaN,652860.0,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1962,9.351442e+06,NaN,377600.00,57.837821,11.794259,0.823402,7700000.0,...,NaN,NaN,NaN,NaN,NaN,652860.0,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1963,9.543200e+06,NaN,378100.00,57.914407,11.870845,0.812097,7750000.0,...,NaN,NaN,NaN,NaN,NaN,652860.0,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1964,9.744772e+06,NaN,378730.00,58.010906,11.947431,0.800429,7800000.0,...,NaN,NaN,NaN,NaN,NaN,652860.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16221,World,WLD,2016,7.424485e+09,NaN,47691466.94,36.701221,10.764754,0.187239,NaN,...,NaN,NaN,NaN,NaN,NaN,134549738.3,NaN,NaN,NaN,NaN
16222,World,WLD,2017,7.509410e+09,NaN,48088210.03,37.008413,10.831252,0.186365,NaN,...,NaN,NaN,NaN,NaN,NaN,134553172.4,NaN,NaN,NaN,NaN
16223,World,WLD,2018,7.592476e+09,NaN,47953427.48,36.903521,10.825170,0.184228,NaN,...,NaN,NaN,NaN,NaN,NaN,134542704.1,NaN,NaN,NaN,NaN
16224,World,WLD,2019,7.673345e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16225,World,WLD,2020,7.752841e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
def total_population():
    data = pd.read_csv("land.csv")
    data = data[["year", "total_population"]]
    return data

In [20]:
total_population()

       year  total_population
0      1960      8.996967e+06
1      1961      9.169406e+06
2      1962      9.351442e+06
3      1963      9.543200e+06
4      1964      9.744772e+06
...     ...               ...
16221  2016      7.424485e+09
16222  2017      7.509410e+09
16223  2018      7.592476e+09
16224  2019      7.673345e+09
16225  2020      7.752841e+09

[16226 rows x 2 columns]